button{
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
    border-radius: 15px;

}
.logo{
border-radius: 50%;
width: 30px;
height: auto;
}
.logo_footer{
    width: 30px;
    height: auto;
    float: right;
}
.footer_wording{
    float: right;
}
main{
    margin-left: 15%;
}
a, li{
    display:inline;
    text-decoration: none;
    justify-content: space-between;
    /*font-size: 1.3rem;*/

}
nav, footer{
    background-color: #00abff;
    height: 45px;
}
.header_links{
    margin-left: 45%;
    
}

p span  {
    background: #fff;
    padding: 0 10px;
}
.return-btn{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    border: none;
}

.line   {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 22%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em
} #signup, .login  {
    border: none;
}
a{
    color: #ffffff;
}
/*#submit, #create-acct-btn   {
    background-color: #AB1449;
    color: white;
    border: none;
    margin-top: 5%;
}*/


